header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    padding: 10px;
    border: solid 1px #F2F2F2;
    border-radius: 24px;
    background-color: #F5F6F8;
    color: black;
    text-decoration: none;
}

#qr-check-in {
    color: black;
}
