.main {
    margin-left: 30%;
    margin-right: 30%;
}

#main-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    font-size: 60px;
    color: #02C75B;
    margin-bottom: 5px;
}

#search-form {
    background-color: white;
    border: 2px solid #67DC91;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 2px;
    flex-wrap: wrap;
}

#search-input {
    padding: 10px;
    flex-grow: 1;
    outline: none;
    border: none;
    font-size: 15px;
}

#main-navigation-list {
    padding: 0;
    list-style: none;
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.main-navigation-list-item > span {
    margin-top: 5px;
    font-size: 14px;
    color: #808386;
}

.main-navigation-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-navigation-list-item:hover {
    cursor: pointer;
}

.main-navigation-list-item-image {
    background-color: #F3F7FB;
    padding: 15px;
    border-radius: 18px;
}

.search-button {
    margin-right: 15px;
}

.search-button:hover {
    cursor: pointer;
}

#main-bottom {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-bottom > section {
    padding: 18px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
}

#simple-weather {
    display: flex;
    justify-content: space-between;
}

#simple-weather > section {
    display: flex;
    align-items: center;
}

#covid {
    display: flex;
}

#covid > section {
    flex-grow: 1;
}

.section-title {
    color: #383B40;
    font-weight: bold;
}

#covid > section > a > div:nth-child(2) {
    color: #696B72;
}

#provisional-government {
    text-align: center;
}

#naver-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#naver-app-button {
    color: #4E99DF;
    background-color: white;
    border: 1px solid #4E99DF;
    border-radius: 2px;
    padding: 8px;
}

#popular-subject-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popular-subject-navigation {
    margin-top: 20px;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

#popular-subject-navigation > a {
    background-color: #F5F7F9;
    padding: 10px;
    border-radius: 2px;
}

#detail-weather-list {
    list-style: none;
    display: flex;
    padding: 0;
}

.detail-weather-list-item-button {
    background-color: #F4F6FC;
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-right: 5px;
}

.detail-weather-list-item-button:active {
    background-color: #7694CD;
    color: white;
}

#detail-weather > section {
    display: flex;
    justify-content: space-around;
}

#detail-weather > section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature > p {
    margin: 5px;
}

#notice-button {
    color: #00D05C;
    border: 2px solid #00D05C;
    background: none;
    border-radius: 24px;
}