.main {
    margin-left: 30%;
    margin-right: 30%;
}

.main--top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__logo {
    font-size: 60px;
    color: #02C75B;
    margin-bottom: 5px;
}

.search-form {
    background-color: white;
    border: 2px solid #67DC91;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 2px;
    flex-wrap: wrap;
}

.search-form__input {
    padding: 10px;
    flex-grow: 1;
    outline: none;
    border: none;
    font-size: 15px;
}

.search-form__button {
    margin-right: 15px;
}

.search-form__button:hover {
    cursor: pointer;
}

.main-nav__list {
    padding: 0;
    list-style: none;
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.main-nav__item > .main-nav__text {
    margin-top: 5px;
    font-size: 14px;
    color: #808386;
}

.main-nav__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-nav__item:hover {
    cursor: pointer;
}

.main-nav__item > .main-nav__img {
    background-color: #F3F7FB;
    padding: 15px;
    border-radius: 18px;
}

.main--bottom {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__section {
    padding: 18px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
}

.simple-weather-section {
    display: flex;
    justify-content: space-between;
}

.simple-weather-section > .simple-weather-section__content {
    display: flex;
    align-items: center;
}

.covid-section {
    display: flex;
}

.covid-section > .covid-section__content {
    flex-grow: 1;
}

.covid-section > .covid-section__content > .covid-section__link {
    text-decoration: none;
}

.covid-section > .covid-section__content > .covid-section__link > .covid-section__text--bold {
    color: #383B40;
    font-weight: bold;
}

.covid-section > .covid-section__content > .covid-section__link > .covid-section__text {
    color: #696B72;
}

.provisional-government-section {
    text-align: center;
}

.provisional-government-section > .provisional-government-section__text--bold {
    color: #383B40;
    font-weight: bold;
}

.naver-app-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.naver-app-section__text--bold {
    color: #383B40;
    font-weight: bold;
}

.naver-app-section__button {
    color: #4E99DF;
    background-color: white;
    border: 1px solid #4E99DF;
    border-radius: 2px;
    padding: 8px;
}

.webtoon-section > .webtoon-section__text--bold {
    color: #383B40;
    font-weight: bold;
}

.popular-subject-section--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-subject-section__text--bold {
    color: #383B40;
    font-weight: bold;
}

.popular-subject-section__nav {
    margin-top: 20px;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.popular-subject-section__link--top {
    text-decoration: none;
    color: #8C9099;
}

.popular-subject-section__nav > .popular-subject-section__link {
    background-color: #F5F7F9;
    padding: 10px;
    border-radius: 2px;
    text-decoration: none;
    color: #8C9099;
}

.detail-weather-section > .detail-weather-section__text--bold {
    color: #383B40;
    font-weight: bold;
}

.detail-weather-nav__list {
    list-style: none;
    display: flex;
    padding: 0;
}

.detail-weather-nav__item {
    background-color: #F4F6FC;
    border: none;
    padding: 10px;
    border-radius: 2px;
    margin-right: 5px;
}

.detail-weather-nav__item--selected {
    background-color: #7694CD;
    color: white;
}

.detail-weather-section > .detail-weather-section__content {
    display: flex;
    justify-content: space-around;
}

.detail-weather-section > .detail-weather-section__content > .detail-weather-content__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature > .temperature__text {
    margin: 5px;
}

.naver-app-update-section__button {
    color: #00D05C;
    border: 2px solid #00D05C;
    background: none;
    border-radius: 24px;
}

.naver-app-update-section__link {
    text-decoration: none;
    color: #8C9099;
}